apiVersion: v1
kind: ServiceAccount
metadata:
  name: quay-credential-provider-demo
  namespace: quay-credential-provider-demo
  annotations:
    quay.io/federated-robot-account: "$QUAY_ROBOT_ACCOUNT"